{% extends "public.html" %} {% block page %}
<div class="row q-col-gutter-md justify-center">
  <div class="col-12 col-sm-6 col-md-5 col-lg-4">
    <q-card v-if="used" class="q-pa-lg">
      <center>
        <q-icon name="check" color="grey" size="20em"></q-icon>
        <q-card-section class="text-h6">
          This ATM has been used.
        </q-card-section>
      </center>
    </q-card>
    <q-card v-else class="q-pa-lg">
      <q-card-section class="q-pa-none">
        <q-tabs v-model="tab" active-color="primary" align="justify">
          <q-tab
            name="lnurl"
            label="lnurl"
            @update="val => tab = val.name"
          ></q-tab>

          <q-tab
            name="ln"
            label="lightning"
            @update="val => tab = val.name"
          ></q-tab>

          <q-tab
            :disable="!boltz || amount_sat < 50000000"
            name="onchain"
            label="onchain"
            @update="val => tab = val.name"
          >
            <q-tooltip v-if="boltz && amount_sat < 50000000"
              >Amount is too small to send over onchain, needs to be 50000+
              sats</q-tooltip
            >
            <q-tooltip v-if="!boltz">Onchain not available</q-tooltip>
          </q-tab>

          <q-tab
            :disable="!boltz || amount_sat < 1000000"
            name="liquid"
            label="liquid"
            @update="val => tab = val.name"
          >
            <q-tooltip v-if="boltz && amount_sat < 1000000"
              >Amount is too small to send over liquid, needs to be 1000+
              sats</q-tooltip
            >
            <q-tooltip v-if="!boltz">Onchain not available</q-tooltip>
          </q-tab>
        </q-tabs>
        <q-separator></q-separator>

        <q-tab-panels v-model="tab">
          <q-tab-panel name="lnurl">
            <div class="text-h8">LNURL withdraw</div>
            <div class="text-center">
              <a class="text-secondary" :href="'lightning:' + lnurl">
                <lnbits-qrcode
                  :value="lnurl"
                  class="rounded-borders"
                ></lnbits-qrcode>
              </a>
            </div>

            <div class="row q-mt-lg q-gutter-sm">
              <q-btn
                outline
                color="grey"
                @click="copyText(lnurl, 'LNURL copied to clipboard!')"
                >Copy LNURL
              </q-btn>
            </div>
          </q-tab-panel>
          <q-tab-panel name="ln">
            <div class="text-h8">Lightning / LNaddress / LNURL-pay</div>
            <q-form @submit="sendLNaddress" class="q-gutter-md">
              <q-input
                filled
                dense
                v-model.trim="ln"
                type="textarea"
                :label="'Paste an LNaddress or LNURL-pay'"
                ref="textArea"
              >
              </q-input>
              <div class="row q-mt-lg">
                <q-btn
                  unelevated
                  color="primary"
                  :disable="ln == ''"
                  type="submit"
                  :label="$t('withdraw')"
                ></q-btn>
              </div>
            </q-form>
          </q-tab-panel>

          <q-tab-panel name="onchain" :disable="boltz === false">
            <div class="text-h8">Onchain</div>
            <q-form @submit="sendOnchainAddress" class="q-gutter-md">
              <q-input
                filled
                dense
                v-model.trim="address"
                type="textarea"
                label="Paste an Onchain address"
                ref="textArea"
              >
              </q-input>
              <div class="row q-mt-lg">
                <q-btn
                  unelevated
                  color="primary"
                  :disable="address == ''"
                  type="submit"
                  :label="$t('withdraw')"
                ></q-btn>
              </div>
            </q-form>
          </q-tab-panel>

          <q-tab-panel name="liquid" :disable="boltz === false">
            <div class="text-h8">Liquid</div>
            <q-form @submit="sendLiquidAddress" class="q-gutter-md">
              <q-input
                filled
                dense
                v-model.trim="address"
                type="textarea"
                label="Paste a Liquid address"
                ref="textArea"
              >
              </q-input>
              <div class="row q-mt-lg">
                <q-btn
                  unelevated
                  color="primary"
                  :disable="address == ''"
                  type="submit"
                  :label="$t('withdraw')"
                ></q-btn>
              </div>
            </q-form>
          </q-tab-panel>
        </q-tab-panels>
      </q-card-section>
    </q-card>
  </div>
  <div class="col-12 col-sm-6 col-md-5 col-lg-4 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <strike v-if="used" class="text-h4 q-mb-xs">You can withdraw: </strike>
        <h1 v-else class="text-h4 q-mb-xs">You can withdraw:</h1>
        <h3 class="text-h5">
          ${amount_sat} SATS/BTC <br />
          ${(amount_sat / 100000000).toFixed(8)} BTC
        </h3>
      </q-card-section>
      <q-card-section class="q-pt-lg q-pb-xl">
        <q-btn
          v-if="recentpay"
          label="View receipt"
          color="primary"
          unelevated
          type="a"
          target="_blank"
          :href="'/fossa/print/' + recentpay"
        ></q-btn>
      </q-card-section>
    </q-card>
  </div>
</div>

{% endblock %} {% block scripts %}
<script>
  const fossa_id = '{{ fossa_id }}'
  const lnurl = '{{ lnurl }}'
  const boltz = '{{ boltz }}' === 'True' ? true : false
  const amount_sat = parseInt('{{ amount_sat }}')
  const used = '{{ used }}' === 'True' ? true : false
</script>
<script src="{{ static_url_for('fossa/static', path='js/atm.js') }}"></script>
{% endblock %}
